.infoWindowCard{
    margin: 0;
    padding: 16px 10px;
    background: #00274C;
    font-family: 'montserrat';
    line-height: 1.4;
    border-radius: 12px;
    min-width: 260px;
    max-width: 320px;
    color: #fff;
}

/* custom css classes to override map infowindow to make it better looking*/
.gm-style-iw-chr {
    min-height: 24px !important;
    height: 24px !important;
    padding: 0 !important;
}

.gm-style-iw-ch {
    min-height: 24px !important;
    height: 24px !important;
    padding: 0 !important;
}

.gm-ui-hover-effect {
    width: 24px !important;
    height: 24px !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 12px !important;
    right: 12px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.gm-ui-hover-effect span {
    width: 24px !important;
    height: 24px !important;
    margin: 0 !important;
    display: block !important;
}